# Postgres
POSTGRES_USER=resume_user
POSTGRES_PASSWORD=resume_pass
POSTGRES_DB=resume_db
POSTGRES_PORT=5432

# Backend
BACKEND_PORT=8000
SECRET_KEY=bae47daada0725cf6676db3931c5fbb0e7e131d0c5edab43f5f80052e2dc5a4d

# Frontend
FRONTEND_PORT=5173
